<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Reporte de Prestamos</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-wrench"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-8">
        <p class="text-center">
          <strong>Prestamo de Libros: 1 Enero 2019 - 31 Enero 2019</strong>
        </p>

        <div class="chart">
          <!-- Sales Chart Canvas -->
          <canvas id="salesChart" style="height: 180px; width: 724px;" width="995" height="247"></canvas>
        </div>
        <!-- /.chart-responsive -->
      </div>
      <!-- /.col -->
      <div class="col-md-4">
        <p class="text-center">
          <strong>Goal Completion</strong>
        </p>

        <div class="progress-group">
          <span class="progress-text">Prestamos en Sala</span>
          <span class="progress-number"><b>160</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-aqua" style="width: 66%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
        <div class="progress-group">
          <span class="progress-text">Prestamos a Domicilio</span>
          <span class="progress-number"><b>80</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-red" style="width: 33%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
        <div class="progress-group">
          <span class="progress-text">Tema: Ciencias</span>
          <span class="progress-number"><b>120</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-green" style="width: 50%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
        <div class="progress-group">
          <span class="progress-text">Tema: Ciencias Sociales</span>
          <span class="progress-number"><b>60</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-yellow" style="width: 25%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
        <div class="progress-group">
          <span class="progress-text">Tema: Ciencia Ficción</span>
          <span class="progress-number"><b>30</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-yellow" style="width: 12.5%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
        <div class="progress-group">
          <span class="progress-text">Tema: otros</span>
          <span class="progress-number"><b>30</b>/240</span>

          <div class="progress sm">
            <div class="progress-bar progress-bar-yellow" style="width: 12.5%"></div>
          </div>
        </div>
        <!-- /.progress-group -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- ./box-body -->
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
          <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
          <h5 class="description-header">$35,210.43</h5>
          <span class="description-text">TOTAL REVENUE</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
          <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
          <h5 class="description-header">$10,390.90</h5>
          <span class="description-text">TOTAL COST</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
          <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
          <h5 class="description-header">$24,813.53</h5>
          <span class="description-text">TOTAL PROFIT</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-xs-6">
        <div class="description-block">
          <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
          <h5 class="description-header">1200</h5>
          <span class="description-text">GOAL COMPLETIONS</span>
        </div>
        <!-- /.description-block -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-footer -->
</div>
